.profileImage {
    width: 55px !important;
    height: 55px !important;
    border-radius: 50%;
    overflow: hidden;
}

.profileImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileNav {
    padding: 18px 16px;
    background: #fff;
}
.btn#profileDropdown {
    padding: 0;
    color: var(--primary);;
    font-size: 12px;
    border: 0;
    height: auto;
}

.profileMeta {padding-left: 14px;}

.profileMeta label {
    font-size: 13px;
    color: var(--primary);;
}

.flexbox{
	display:-webkit-box;
	display:-moz-box;
    display:-ms-flexbox;
	display:-webkit-flex;
	display:flex;
}

.main-container{
    padding: 7px;
    color: rgb(0, 0, 0);
    align-items: center;
    margin-top: 0;
    width: 100%;
    max-width: calc(100vw - 62px);
}

.right-hold{
	margin-left:auto;
	align-items:center;
}
.container{
    border: solid 2px;
    border-radius: 3%;
    overflow-y: scroll;
    border-color: #e7e7e7;
    height: 29%;
}
.drope_container{
    margin-top: 25px;
    margin-bottom: 13px;
    display: flex;
    justify-content: space-between;
}


.drope_container .left_side {
    font-weight: 600;
    font-size: 13px;
}
.entry-container.entry-container.dashboard{
    padding: 15px 17px;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
   
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
  
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #DADEE2;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  .c_container {
      height: 100%;
    overflow: auto;
}
.c_container_outer {
    border: 1px solid #919DAA;
    border-radius: 10px;
    height: 230px;
    padding: 10px;
}
span.file_thumb.file_thumb {
    width: 72px;
    flex-shrink: 0;
    height: 28px;
}

.file_thumb.file_thumb img {
    width: 50px;
    height: 100%;
    object-fit: cover;
    margin: 0;
}

span.file_name {
    white-space: nowrap;
    overflow: hidden;
    color: #182E45;
    font-size: 12px;
    text-overflow: ellipsis;
    width: calc(100% - 72px);
}
.dropFile {
    border: 1px dashed #707070;
    font-size: 12px;
    padding: 2px 10px;
}
.moreIcon button.btn {
    height: auto;
    margin-bottom: 0;
}

.left-hold {
    width: calc(100% - 70px);
    text-align: left;
    flex-grow: 1;
}

.right-hold {
    width: 50px;
}
.entry-container.entry-container.preference {
    padding: 15px;
}
.text-left{
    text-align: left;
}
.p-title{
    font-size: 20px;
    font-weight: 600;
}
select.selectSM.form-select {
    font-size: 14px;
    padding: 0 35px 0 5px;
    width: auto;
    border-color: #0364CB;
}
form.cForm label {
    font-size: 14px;
}
.shortcode {
    display: inline-block;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #0364CB;
    padding-right: 10px;
}

.shortcode span {
    padding: 0 7px;
    background: #CDDFF2;
    border-radius: 3px;
    display: block;
    color: #182E45;
}
.cForm button {
    font-size: 20px;
    font-weight: 600;
    background: #183656;
    color: #fff !important;
    padding: 0 21px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.ec-inner {
    height: calc(100% - 60px);
    overflow: hidden;
    overflow-y: auto;
}
@media (min-width: 576px){
.col-sm-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
}
.col-sm-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
}
}

.drope_container.alt {
    flex-direction: column;
    text-align: left;
}

div#drag-drop-area {}



.uppy-Dashboard-dropFilesHereHint, .uppy-DashboardContent-bar {
    background-color: transparent;
    background-image: none;
}


.uppy-size--md .uppy-DashboardContent-bar {
    display: none;
}
.uppy-Dashboard-inner.uppy-Dashboard-inner {
    background: transparent;
    border: 0;
}
.uppy-DashboardContent-bar {
    display: none;
}
.uppy-Dashboard-files > div {
    height: auto !important;
}
.uppy-Dashboard-dropFilesHereHint.uppy-Dashboard-dropFilesHereHint,
.uppy-Dashboard-AddFiles-title.uppy-Dashboard-AddFiles-title {
    font-size: 12px !important;
      margin: 0;
}
.uppy-Dashboard.uppy-Dashboard--isDraggingOver .uppy-Dashboard-dropFilesHereHint {
    padding: 0;
}
button.uppy-u-reset.uppy-Dashboard-browse {
    color: #182E45;
    font-size: 12px;
}

div#drag-drop-area {
    margin-top: 5px;
}
.uppy-size--lg .uppy-Dashboard-Item {
    width: 100%;
    margin: 0;
    display: flex;
    height: auto;
}

.uppy-Dashboard-Item-preview {
    width: 45px !important;
    height: auto !important;
}

.uppy-Dashboard-Item-fileInfoAndButtons {
    padding-left: 10px !important;
}

.uppy-Dashboard-Item-actionWrapper {
    width: 30px;
    height: 30px;
}

button.uppy-u-reset.uppy-Dashboard-Item-action.uppy-Dashboard-Item-action--remove {
    right: 10px;
    top: 10px;
    opacity: 1 !important;
    color: #000;
}

.uppy-StatusBar:not([aria-hidden=true]) {
    height: auto !important;
}

.uppy-StatusBar.is-waiting .uppy-StatusBar-actionBtn--upload, .uppy-StatusBar.is-waiting .uppy-StatusBar-actionBtn--upload:hover {
    background: transparent;
    color: #1bb240;
    padding: 10px 0 !important;
}

.uppy-StatusBar.is-waiting .uppy-StatusBar-actions {
    background: transparent;
}
.add_height{
    height: 377px;
}